[Unit]
Description=GNS3 VM

[Service]
Type=forking
User=root
Group=root
ExecStart=/usr/local/bin/gns3vm
Requires=network.target
Restart=on-failure

[Install]
WantedBy=multi-user.target
